*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;  
  /* background-color: red; */
}
.second-section{
  background-color: rgb(47, 115, 193);
}
#header-hover{
  background-color: white !important;
}
#submit-btn{
  border: 1px solid rgb(47, 115, 193);
  color: rgb(47, 115, 193);
  font-size: 20px;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;
}
#submit-btn:hover{
  background-color: rgb(47, 115, 193);
  color: white;
  font-weight: 500;
  border: none;
}
#submit-btn:active{
  opacity: 0.8;
}
.card{
  background: linear-gradient(45deg, rgb(4, 44, 90), rgb(0, 119, 255));
}
.card:hover{
  background: linear-gradient(45deg, rgb(54, 147, 254), rgb(4, 44, 90));
}
.un-list{
  list-style: none;
  margin: 0;
  padding: 0;
}
.book-btn, .second-book-btn{
  background: linear-gradient(45deg, rgb(2, 110, 2), rgb(0, 255, 0), rgb(2, 110, 2));
  font-weight: 600;
  padding: 12px 33px;
  border: none;
  border-radius: 2px;
  color: white;
}
.card-fifth-section{
  transition: background-color 0.3s, border-radius 0.6s;
}
.card-fifth-section:hover{
  background: linear-gradient(47deg, rgb(216, 216, 216), white, rgb(216, 216, 216));
  cursor: pointer;
  border-radius: 170px;
}
.card-fifth-section h3{
  margin-top: 13px;
  margin-bottom: 7px;
}
table th{
  background-color: rgb(14, 105, 14);
  padding: 15px 15px;
  color: white;
}
table td{
  padding: 10px 14px;
}
table, th, td{
  border: 1px solid rgb(83, 81, 81);
}
.accordion-button{
  /* background-color: rgb(238, 238, 238); */
  border-bottom-style: solid;
  border-bottom-color: rgb(107, 107, 107);
  border-bottom-width: 1px;
}
.small-cad{
  transition: margin-top 0.4s;
}
.small-cad:hover{
  margin-top: -17px;
  cursor: pointer;
}
.image-hover-rounded:hover{
  border-radius: 5px;
}
footer{
  background-color: rgb(49, 105, 169);
}
.btn-Team-card{
 padding: 10px 22px;
 border: 1px solid rgb(49, 105, 169);
 transition: background-color 0.3s, font-weight 0.3s;
 font-weight: 600;
 color: rgb(49, 105, 169);
}
.btn-Team-card:hover{
  background-color: rgb(49, 105, 169);
  color: white;
  font-weight: 600;
}
.card-hover-top{
  transition: margin-top 0.5s;
}
.card-hover-top:hover{
  margin-top: -8px;
}
.gmail-modal::after{
  content: '*';
  margin-left: 1px;
  color: red;
}
.submit-modal-btn:hover{
  color: white !important;
  opacity: 0.8 !important;
}
/* Working with Classes */
.hidden {
  display: none;
}
.modal {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
}
.bookSiteVisit {
  transition: font-weight 0.4s;
}
.bookSiteVisit:hover {
  font-weight: 700;
}