@media(min-width:0) and (max-width:576px) {
  body{
    /* background-color: rgb(94, 93, 93); */
  }
  #logo_1{
    color: rgb(235, 83, 83);
    font-weight: 900;
    font-size:15px;
  }
  #logo_2{
    font-weight: 800;
    color: rgb(97, 97, 97);
    font-size:15px;
  }
  .nav-link{
    text-transform: capitalize;
    font-weight: 400;
    color: rgb(32, 94, 166);
  }
  .search-text-input{
    width: 93px;
    padding-left: 5px;
    padding-right: 33px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid rgb(2, 110, 2);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .search-text-input::placeholder{
    color: rgb(2, 110, 2);
    font-size: 14px;
  }
  .search-btn{
    background: linear-gradient(45deg, rgb(2, 110, 2), rgb(13, 228, 13));
    border-radius: 25px;
    border: 1px solid rgb(2, 110, 2);
    padding: 3px 22px;
    margin-left: -30px;
    color: white;
    font-weight: 500;
    transition: background-color 0.4s;
  }
  .search-btn:hover{
    background-color: rgb(227, 0, 0);
  }
  .navbar-brand:hover .absolute1{
    display: block;
  }
  .absolute1{
    display: none;
  }
  .gold-image{
    width: 180px;
  }
}
/* small */
@media(min-width:576px) and (max-width:768px) {
  body{
    /* background-color: rgb(0, 153, 255); */
  }
  #logo_1{
    color: rgb(235, 83, 83);
    font-weight: 900;
  }
  #logo_2{
    font-weight: 800;
    color: rgb(97, 97, 97);
  }
  .nav-link{
    text-transform: capitalize;
    font-weight: 500;
    color: rgb(32, 94, 166);
  }
  .search-text-input{
    width: 135px;
    padding-left: 5px;
    padding-right: 33px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid rgb(2, 110, 2);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .search-text-input::placeholder{
    color: rgb(2, 110, 2);
    font-size: 14px;
  }
  .search-btn{
    background: linear-gradient(45deg, rgb(2, 110, 2), rgb(13, 228, 13));
    border-radius: 25px;
    border: 1px solid rgb(2, 110, 2);
    padding: 5px 22px;
    margin-left: -30px;
    color: white;
    font-weight: 500;
    transition: background-color 0.4s;
  }
  .search-btn:hover{
    background-color: rgb(227, 0, 0);
  }
  .navbar-brand:hover .absolute1{
    display: block;
  }
  .absolute1{
    display: none;
  }
  .gold-image{
    width: 200px;
  }
}
/* medium */
@media(min-width:768px) and (max-width:992px) {
  body{
    /* background-color: rgb(255, 0, 242); */
  }
  #logo_1{
    color: rgb(235, 83, 83);
    font-weight: 900;
    font-size:19px;
  }
  #logo_2{
    font-weight: 800;
    color: rgb(97, 97, 97);
    font-size:19px;
  }
  .nav-link{
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(32, 94, 166);
    font-size: 13px;
  }
  .search-text-input{
    width: 135px;
    padding-left: 5px;
    padding-right: 33px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid rgb(2, 110, 2);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-left: 35px;
  }
  .search-text-input::placeholder{
    color: rgb(2, 110, 2);
    font-size: 14px;
  }
  .search-btn{
    background: linear-gradient(45deg, rgb(2, 110, 2), rgb(13, 228, 13));
    border-radius: 25px;
    border: 1px solid rgb(2, 110, 2);
    padding: 3px 22px;
    margin-left: -30px;
    color: white;
    font-weight: 500;
    transition: background-color 0.4s;
  }
  .search-btn:hover{
    background-color: rgb(227, 0, 0);
  }
  .navbar-brand:hover .absolute1{
    display: block;
  }
  .absolute1{
    display: none;
  }
  .gold-image{
    width: 220px;
  }
}
/* large */
@media(min-width:992px) and (max-width:1200px) {
  body{
    /* background-color: rgb(28, 188, 34); */
  }
  #logo_1{
    color: rgb(235, 83, 83);
    font-weight: 900;
    font-size:19px;
  }
  #logo_2{
    font-weight: 800;
    color: rgb(97, 97, 97);
    font-size:19px;
  }
  .nav-link{
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(32, 94, 166);
    font-size: 15px;
  }
  .about{
    margin-left: 17px;
    margin-left: 17px;
  }
  .service{
    margin-right: 17px;
    margin-left: 17px;
  }
  .search-text-input{
    width: 175px;
    padding-left: 5px;
    padding-right: 33px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid rgb(2, 110, 2);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-left: 100px;
  }
  .search-text-input::placeholder{
    color: rgb(2, 110, 2);
    font-size: 14px;
  }
  .search-btn{
    background: linear-gradient(45deg, rgb(2, 110, 2), rgb(13, 228, 13));
    border-radius: 25px;
    border: 1px solid rgb(2, 110, 2);
    padding: 3px 22px;
    margin-left: -30px;
    color: white;
    font-weight: 500;
    transition: background-color 0.4s;
  }
  .search-btn:hover{
    background-color: rgb(227, 0, 0);
  }
  .navbar-brand:hover .absolute1{
    display: block;
  }
  .absolute1{
    display: none;
  }
  .gold-image{
    width: 220px;
  }
}
/* ex large */
@media(min-width:1200px) {
  #logo_1{
    color: rgb(235, 83, 83);
    font-weight: 900;
    font-size:19px;
  }
  #logo_2{
    font-weight: 800;
    color: rgb(97, 97, 97);
    font-size:19px;
  }
  .nav-link{
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(32, 94, 166);
    font-size: 15px;
  }
  .about{
    margin-left: 17px;
    margin-left: 17px;
  }
  .service{
    margin-right: 17px;
    margin-left: 17px;
  }
  .search-text-input{
    width: 220px;
    padding-left: 5px;
    padding-right: 33px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid rgb(2, 110, 2);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-left: 150px;
  }
  .search-text-input::placeholder{
    color: rgb(2, 110, 2);
    font-size: 14px;
  }
  .search-btn{
    background: linear-gradient(45deg, rgb(2, 110, 2), rgb(13, 228, 13));
    border-radius: 25px;
    border: 1px solid rgb(2, 110, 2);
    padding: 5px 36px;
    margin-left: -30px;
    color: white;
    font-weight: 500;
    transition: background-image 0.9s;
  }
  .search-btn:hover{
    background-image: linear-gradient(45deg, rgb(13, 228, 13), rgb(2, 110, 2));
  }
  .navbar-brand:hover .absolute1{
    display: block;
  }
  .absolute1{
    display: none;
  }
  #header-hover{
    background-color: rgb(255, 255, 255);
    transition: background-color 0.4s;
    z-index: 100;
  }
  #header-hover:hover{
    background-color: rgb(246, 243, 243);
  }
  .gold-image{
    width: 220px;
  }
}